# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.test

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo